body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.display {
    height: 100px;
    background-color: #d1d1d1;
    width: 30%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    gap: 2px;
    
}

button {
    width: 125px;
    height: 70px;
    flex: 1 1 125px;
    font-size: 16px;
    border: none;

    cursor: pointer;
    /* transition: all 0.2s ease-in-out; */
    box-shadow: 0 4px #00000033;
    color: white;
    background-color: dimgray;
}

button:hover {
    /* background-color: black; */
    /* transform: translateY(-2px); */
    box-shadow: 0 4px #00000033;
    /* box-shadow: 0 4px #1565c0; */
    top: 2px;
}

button:active {
    /* outline: 3px solid white; */
    box-shadow: none;
    top: 6px;
    background-color: #d3d3d3;
    color: #000000;
}